---
services:
  portainer-agent:
    container_name: portainer-agent
    image: portainer/agent:latest
    restart: always
    ports:
      - 9001:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes 
      - /etc/localtime:/etc/localtime:ro
    environment:
      - AGENT_SECRET="${AGENT_SECRET}"
    security_opt:
      - no-new-privileges:true
    networks:
      - webapps

  homer:
    container_name: homer
    image: b4bz/homer:latest
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./homer/walkxcode-theme:/www/assets
    environment:
      - TZ=Europe/Paris
      - INIT_ASSETS=0
    networks:
      - webapps

  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./homepage/config:/app/config
      - ./homepage/images:/app/public/images
      - ./homepage/icons:/app/public/icons
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PUID: 1000
      PGID: 1000
    networks:
      - webapps

  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    ports:
      - 8680:80
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./vaultwarden:/data
      - /var/log/vaultwarden.log:/data/vaultwarden.log
    environment:
      - DATABASE_URL=postgresql://{{ secret.users.me.name }}:{{ secret.users.me.password }}@192.168.10.19:5432/vaultwarden
      - SIGNUPS_ALLOWED=false
      - INVITATIONS_ALLOWED=false
      - LOG_FILE=data/vaultwarden.log
      - LOG_LEVEL=warn
      - EXTENDED_LOGGING=true
    networks:
      - webapps

  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser:latest 
    restart: unless-stopped
    ports:
      - 4080:80
    volumes:
      - /mnt:/srv
      - ./filebrowser/filebrowser.db:/database/filebrowser.db
      - ./filebrowser/.filebrowser.json:/.filebrowser.json
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - webapps

# docker network create --driver=bridge --subnet=172.18.0.0/16 --gateway=172.18.0.1 webapps
networks:
  webapps:
    name: webapps
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"
          gateway: "172.18.0.1"