# Your Wi-Fi SSID and password
wifi_ssid: {{ esphome.wifi.ssid }}
wifi_password: "{{ esphome.wifi.password }}"

mmwave_wc_occupancy_api_encryption_key: "{{ secret.esphome.mmwave_wc_occupancy.api.encryption_key }}"
mmwave_wc_occupancy_ota_password: "{{ esphome.mmwave_wc_occupancy.ota.password }}"
mmwave_wc_occupancy_ap_ssid: "{{ esphome.mmwave_wc_occupancy.ap.ssid }}"
mmwave_wc_occupancy_ap_password: "{{ esphome.mmwave_wc_occupancy.ap.password }}"

thermor_ac_landing_room_api_encryption_key: "{{ esphome.thermor_ac_landing_room.api.encryption_key }}"
thermor_ac_landing_room_ota_password: "{{ esphome.thermor_ac_landing_room.ota.password }}"
thermor_ac_landing_room_ap_ssid: "{{ esphome.thermor_ac_landing_room.ap.ssid }}"
thermor_ac_landing_room_ap_password: "{{ esphome.thermor_ac_landing_room.ap.password }}"