http:
  routers:
    headscale:
      entryPoints:
        - websecure
      rule: 'Host(`headscale.allfabox.fr`)'
      service: homer
  
  services:
    headscale:
      loadBalancer:
        servers:
          - url: http://192.168.10.10:8096