http:
  routers:
    jellyfin:
      entryPoints:
        - websecure
      rule: 'Host(`jellyfin.allfabox.fr`)'
      service: jellyfin
    tinymediamanager:
      entryPoints:
        - websecure
      rule: 'Host(`tmm.allfabox.fr`)'
      middlewares:
        - authelia
      service: tinymediamanager
    navidrome:
      entryPoints:
        - websecure
      rule: 'Host(`navidrome.allfabox.fr`)'
      service: navidrome
    bonob:
      entryPoints:
        - websecure
      rule: 'Host(`bonob.allfabox.fr`)'
      service: bonob
    calibre-web:
      entryPoints:
        - websecure
      rule: 'Host(`calibre-web.allfabox.fr`)'
      middlewares:
        - kobo-sync-headers
      service: calibre-web
    handbrake:
      entryPoints:
        - websecure
      rule: 'Host(`handbrake.allfabox.fr`)'
      middlewares:
        - authelia
      service: handbrake
  
  services:
    jellyfin:
      loadBalancer:
        servers:
          - url: http://192.168.10.40:8096
    tinymediamanager:
      loadBalancer:
        servers:
          - url: http://192.168.10.40:4000
    navidrome:
      loadBalancer:
        servers:
          - url: http://192.168.10.41:4533
    bonob:
      loadBalancer:
        servers:
          - url: http://192.168.10.41:4534
    calibre-web:
      loadBalancer:
        servers:
          - url: http://192.168.10.41:8083
    handbrake:
      loadBalancer:
        servers:
          - url: http://192.168.10.41:5800
    