http:
  routers:
    healthchecks:
      entryPoints:
        - websecure
      rule: 'Host(`healthchecks.allfabox.fr`)'
      service: healthchecks
    
  services:
    healthchecks:
      loadBalancer:
        servers:
          - url: http://192.168.10.60:8000
