http:
  routers:
    nextcloud:
      entryPoints:
        - websecure
      rule: 'Host(`nextcloud.allfabox.fr`)'
      service: nextcloud
    onlyoffice:
      entryPoints:
        - websecure
      rule: 'Host(`onlyoffice.allfabox.fr`)'
      service: onlyoffice
    trilium:
      entryPoints:
        - websecure
      rule: 'Host(`notes.allfabox.fr`)'
      service: trilium

  services:
    nextcloud:
      loadBalancer:
        servers:
          - url: https://192.168.10.42:8643
    onlyoffice:
      loadBalancer:
        servers:
          - url: https://192.168.10.42:8743
    trilium:
      loadBalancer:
        servers:
          - url: http://192.168.10.42:8080
    