http:
  routers:
    homepage:
      entryPoints:
        - websecure
      rule: 'Host(`allfabox.fr`) || Host(`www.allfabox.fr`)'
      service: homepage
  
  services:
    homepage:
      loadBalancer:
        servers:
          - url: http://192.168.10.50:3000