http:
  routers:
    pihole:
      entryPoints:
        - websecure
      rule: 'Host(`pihole.allfabox.fr`)'
      service: pihole
  
  services:
    pihole:
      loadBalancer:
        servers:
          - url: http://192.168.0.253/admin