http:
  routers:
    morpheus:
      entryPoints:
        - websecure
      rule: 'Host(`morpheus.allfabox.fr`)'
      service: morpheus
    neo:
      entryPoints:
        - websecure
      rule: 'Host(`neo.allfabox.fr`)'
      service: neo
    neo-pbs:
      entryPoints:
        - websecure
      rule: 'Host(`neo-pbs.allfabox.fr`)'
      service: neo-pbs
  
  services:
    morpheus:
      loadBalancer:
        servers:
          - url: https://192.168.10.5:8006
    neo:
      loadBalancer:
        servers:
          - url: https://192.168.10.6:8006
    neo-pbs:
      loadBalancer:
        servers:
          - url: https://192.168.10.6:8007