http:
  routers:
    homepage:
      entryPoints:
        - websecure
      rule: 'Host(`allfabox.fr`) || Host(`www.allfabox.fr`)'
      service: homepage
    filebrowser:
      entryPoints:
        - websecure
      rule: 'Host(`filebrowser.allfabox.fr`)'
      service: filebrowser
    vaultwarden:
      entryPoints:
        - websecure
      rule: 'Host(`vaultwarden.allfabox.fr`)'
      service: vaultwarden
    memos:
      entryPoints:
        - websecure
      rule: 'Host(`notes.allfabox.fr`)'
      service: memos
    jellystat:
      entryPoints:
        - websecure
      rule: 'Host(`jellystat.allfabox.fr`)'
      service: jellystat
    linkace:
      entryPoints:
        - websecure
      rule: 'Host(`linkace.allfabox.fr`)'
      service: linkace
      middlewares:
        - authelia
    pgbackweb:
      entryPoints:
        - websecure
      rule: 'Host(`pgbackweb.allfabox.fr`)'
      service: pgbackweb
      middlewares:
        - authelia
  
  services:
    homepage:
      loadBalancer:
        servers:
          - url: http://192.168.10.50:3000    
    filebrowser:
      loadBalancer:
        servers:
          - url: http://192.168.10.50:4080
    vaultwarden:
      loadBalancer:
        servers:
          - url: http://192.168.10.50:8680
    memos:
      loadBalancer:
        servers:
          - url: http://192.168.10.50:5230
    jellystat:
      loadBalancer:
        servers:
          - url: http://192.168.10.50:3001
    linkace:
      loadBalancer:
        servers:
          - url: http://192.168.10.50:8080
    pgbackweb:
      loadBalancer:
        servers:
          - url: http://192.168.10.50:8085
