{
    "type": "service_account",
    "project_id": "{{ homeassistant.google.assistant.project_id }}",
    "private_key_id": "{{ homeassistant.google.assistant.private_key_id }}",
    "private_key": "{{ homeassistant.google.assistant.private_key }}",
    "client_email": "{{ homeassistant.google.assistant.client_email }}",
    "client_id": "{{ homeassistant.google.assistant.client_id }}",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "{{ homeassistant.google.assistant.client_x509_cert_url }}"
}