---
zone_home_latitude: {{ secret.homeassistant.zone.home.latitude }}
zone_home_longitude: {{ secret.homeassistant.zone.home.longitude }}
zone_home_elevation: {{ secret.homeassistant.zone.home.elevation }}
zone_work_latitude: {{ secret.homeassistant.zone.work.latitude }}
zone_work_longitude: {{ secret.homeassistant.zone.work.longitude }}
zone_school_latitude: {{ secret.homeassistant.zone.school.latitude }}
zone_school_longitude: {{ secret.homeassistant.zone.school.longitude }}

mosquitto_user: {{ secret.mqtt.user }}
mosquitto_pwd: {{ secret.mqtt.password }}

xiaomi_gateway_mac: {{ secret.homeassistant.xiaomi.gateway_mac }}
xiaomi_key: {{ secret.homeassistant.xiaomi.key }}

roomba_account: {{ secret.homeassistant.roomba.account.user }}
roomba_account_pwd: {{ secret.homeassistant.roomba.account.pwd }}
roomba_j7_blid: {{ secret.homeassistant.roomba.j7.blid }}
roomba_j7_pwd: {{ secret.homeassistant.roomba.j7.pwd }}
roomba_braava_m6_blid: {{ secret.homeassistant.roomba.braava_m6.blid }}
roomba_braava_m6_pwd: {{ secret.homeassistant.roomba.braava_m6.pwd }}

tuya_id_iot: {{ secret.homeassistant.tuya.id_iot }}
tuya_access_secret: {{ secret.homeassistant.tuya.access_secret }}
tuya_account: {{ secret.homeassistant.tuya.account.user }}
tuya_account_pwd: {{ secret.homeassistant.tuya.account.pwd }}
tuya_account_pwd2: {{ secret.homeassistant.tuya.account.pwd2 }}

nodered_user: {{ secret.homeassistant.nodered.user }}
nodered_token: {{ secret.homeassistant.nodered.token }}

#https://fetedujour.fr/api/#apiKey
#http://fetedujour.fr/api/v2/CX2bGZVil6yV9SN4/text-normal
#http://fetedujour.fr/api/v2/CX2bGZVil6yV9SN4/json-normal
fetedujour_api_key: {{ secret.homeassistant.fetedujour.api.key }}
