---
services:
  portainer-agent:
    container_name: portainer-agent
    image: portainer/agent:latest
    restart: always
    ports:
      - 9001:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes 
      - /etc/localtime:/etc/localtime:ro
    environment:
      - AGENT_SECRET="${AGENT_SECRET}"
    security_opt:
      - no-new-privileges:true
    networks:
      - nextcloud
  
  dozzle-agent:
    container_name: dozzle-agent
    image: amir20/dozzle:latest
    ports:
      - 7007:7007
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DOZZLE_HOSTNAME=Nextcloud
    networks:
      - nextcloud
  
  nextcloud:
    container_name: nextcloud
    image: lscr.io/linuxserver/nextcloud:latest    
    restart: unless-stopped
    ports:
      - 8643:443
    volumes:
      - ./nextcloud/config:/config
      - /mnt/documents:/data
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    networks:
      - nextcloud

  onlyoffice:
    container_name: onlyoffice
    image: onlyoffice/documentserver:latest    
    restart: unless-stopped
    ports:
      - 8680:80
      - 8743:443
    volumes:
      - ./onlyoffice/data:/var/www/onlyoffice/Data
      - ./onlyoffice/logs:/var/log/onlyoffice
      - ./onlyoffice/lib:/var/lib/onlyoffice
      #- /mnt/nextcloud/data:/data
    environment:
      - PUID=1000
      - PGID=1000
      - JWT_ENABLED=true
      - JWT_SECRET=${JWT_SECRET}
      - TZ=Europe/Paris
    networks:
      - nextcloud
      
# docker network create --driver=bridge --subnet=172.18.0.0/16 --gateway=172.18.0.1 nextcloud
networks:
  nextcloud:
    name: nextcloud
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"
          gateway: "172.18.0.1"