mqtt:
  prefix: lnxlink
  clientId: {{ ansible_hostname }}
  server: {{ secret.mqtt.ip }}
  port: 1883
  auth:
    user: {{ secret.mqtt.user }}
    pass: {{ secret.mqtt.password }}
    tls: false
    keyfile: ''
    certfile: ''
    ca_certs: ''
  discovery:
    enabled: true
  lwt:
    enabled: true
    qos: 1
    retain: false
update_interval: 5
hass_url: null
hass_api: null
modules:
  - network
  - cpu
  - update
  - memory
  - restart
  - temperature
  - disk_usage
  - mounts
  - gpu
custom_modules: null
exclude: null
settings:
  systemd: null
  gpio:
    inputs: null
    outputs: null
  hotkeys: null
  disk_usage:
    include_disks:
      - /rpool
      - /dev/sda
      - /dev/sdb
      - /dev/sdc
    exclude_disks:
      - /rpool/*
  statistics: https://analyzer.bkbilly.workers.dev
  bash:
    expose: null
  mounts:
    autocheck: false
    directories:
      - /mnt/storage
      - /mnt/freebox
