---
services:
  portainer-agent:
    container_name: portainer-agent
    image: portainer/agent:latest
    restart: always
    ports:
      - 9001:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes 
      - /etc/localtime:/etc/localtime:ro
    environment:
      - AGENT_SECRET="${AGENT_SECRET}"
    security_opt:
      - no-new-privileges:true
    networks:
      - forge

  dozzle-agent:
    container_name: dozzle-agent
    image: amir20/dozzle:latest
    restart: unless-stopped
    ports:
      - 7007:7007
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DOZZLE_HOSTNAME=Forge
    networks:
      - forge

  forgejo:
    container_name: forgejo
    image: codeberg.org/forgejo/forgejo:10
    restart: unless-stopped
    ports:
      - 3000:3000
      - 6587:22    
    volumes:
      - ./forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__database__DB_TYPE=${FORGEJO__database__DB_TYPE}
      - FORGEJO__database__HOST=${FORGEJO__database__HOST}
      - FORGEJO__database__NAME=${FORGEJO__database__NAME}
      - FORGEJO__database__USER=${FORGEJO__database__USER}
      - FORGEJO__database__PASSWD=${FORGEJO__database__PASSWD}
    networks:
      - forge

  woodpecker-server-forgejo:
    container_name: woodpecker-server-forgejo
    image: woodpeckerci/woodpecker-server:v3
    restart: unless-stopped
    ports:
      - 8002:8000
      - 9002:9002
    volumes:
      - ./woodpecker/server/forgejo:/var/lib/woodpecker/
    environment:
      - WOODPECKER_OPEN=true
      - WOODPECKER_HOST=https://forgejo.ci.allfabox.fr
      - WOODPECKER_AGENT_SECRET=${WOODPECKER_AGENT_SECRET_FORGEJO}
      - WOODPECKER_GRPC_ADDR=:9002
      - WOODPECKER_ADMIN="{{ secret.users.me.name }}"
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx:latest
      # FORGEJO
      - WOODPECKER_FORGEJO=true
      - WOODPECKER_FORGEJO_URL=https://forgejo.allfabox.fr
      - WOODPECKER_FORGEJO_CLIENT=${WOODPECKER_FORGEJO_CLIENT}
      - WOODPECKER_FORGEJO_SECRET=${WOODPECKER_FORGEJO_SECRET}
      # - WOODPECKER_LOG_LEVEL=debug
    networks:
      - forge
  
  woodpecker-agent-forgejo:
    container_name: woodpecker-agent-forgejo
    image: woodpeckerci/woodpecker-agent:v3
    restart: unless-stopped
    ports:
      - 4302:3000
    depends_on:
      woodpecker-server-forgejo:
        condition: service_healthy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    environment:
      - WOODPECKER_SERVER=192.168.10.51:9002
      - WOODPECKER_AGENT_SECRET=${WOODPECKER_AGENT_SECRET_FORGEJO}
      - WOODPECKER_MAX_WORKFLOWS=2
      - WOODPECKER_GRPC_SECURE=false
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx:latest
    networks:
      - forge

  woodpecker-server-github:
    container_name: woodpecker-server-github
    image: woodpeckerci/woodpecker-server:v3
    restart: unless-stopped
    ports:
      - 8003:8000
      - 9003:9003
    volumes:
      - ./woodpecker/server/github:/var/lib/woodpecker/
    environment:
      - WOODPECKER_OPEN=true
      - WOODPECKER_HOST=https://github.ci.allfabox.fr
      - WOODPECKER_AGENT_SECRET=${WOODPECKER_AGENT_SECRET_GITHUB}
      - WOODPECKER_GRPC_ADDR=:9003
      - WOODPECKER_ADMIN="{{ secret.users.me.name }}"
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx:latest
      # GITHUB
      - WOODPECKER_GITHUB=true
      - WOODPECKER_GITHUB_CLIENT=${WOODPECKER_GITHUB_CLIENT}
      - WOODPECKER_GITHUB_SECRET=${WOODPECKER_GITHUB_SECRET}
      # - WOODPECKER_LOG_LEVEL=debug
    networks:
      - forge
  
  woodpecker-agent-github:
    container_name: woodpecker-agent-github
    image: woodpeckerci/woodpecker-agent:v3
    restart: unless-stopped
    ports:
      - 4303:3000
    depends_on:
      woodpecker-server-github:
        condition: service_healthy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    environment:
      - WOODPECKER_SERVER=192.168.10.51:9003
      - WOODPECKER_AGENT_SECRET=${WOODPECKER_AGENT_SECRET_GITHUB}
      - WOODPECKER_MAX_WORKFLOWS=2
      - WOODPECKER_GRPC_SECURE=false
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx:latest
    networks:
      - forge

# docker network create --driver=bridge --subnet=172.18.0.0/16 --gateway=172.18.0.1 forge
networks:
  forge:
    name: forge
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"
          gateway: "172.18.0.1"