---
services:
  portainer-agent:
    container_name: portainer-agent
    image: portainer/agent:latest
    restart: always
    ports:
      - 9001:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes 
      - /etc/localtime:/etc/localtime:ro
    environment:
      - AGENT_SECRET="${AGENT_SECRET}"
    security_opt:
      - no-new-privileges:true
    networks:
      - monitoring

  healthchecks:
    container_name: healthchecks
    image: lscr.io/linuxserver/healthchecks:latest
    restart: unless-stopped
    network_mode: host
    # ports:
    #  - 8000:8000
    volumes:
      - ./healthchecks/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - SITE_ROOT=https://healthchecks.allfabox.fr
      - SITE_NAME=Allfabox Monitoring
      - SUPERUSER_EMAIL=${HEALTHCHECKS_SUPERUSER_EMAIL}
      - SUPERUSER_PASSWORD=${HEALTHCHECKS_SUPERUSER_PASSWORD}
      - ALLOWED_HOSTS=healthchecks.allfabox.fr,192.168.10.60
      - APPRISE_ENABLED=False
      - CSRF_TRUSTED_ORIGINS=healthchecks.allfabox.fr
      - DEBUG=True
      - INTEGRATIONS_ALLOW_PRIVATE_IPS=False
      - SECRET_KEY=${HEALTHCHECKS_SECRET_KEY}
      # - SITE_LOGO_URL=

  jellystat:
    container_name: jellystat
    image: cyfershepard/jellystat:latest
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./jellystat:/app/backend/backup-data
    environment:
      - POSTGRES_DB=jfstat
      - POSTGRES_USER={{ secret.users.me.name }}
      - POSTGRES_PASSWORD={{ secret.users.me.password }}
      - POSTGRES_IP=192.168.10.19
      - POSTGRES_PORT=5432
      - JWT_SECRET="{{ jellystat.jwt.secret }}"
      - TZ=Europe/Paris
    networks:
      - monitoring

# docker network create --driver=bridge --subnet=172.18.0.0/16 --gateway=172.18.0.1 monitoring
networks:
  monitoring:
    name: monitoring
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"
          gateway: "172.18.0.1"